.button {
    background-color: #efefef;
    border: 1px solid #bbbbbb;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    box-shadow: 2px 2px 3px #cccccc;
    text-decoration: none;
    color: #3d3d3d;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 18px;
    outline: none;
    padding: 3px 10px;
}
 
.button:hover {
    -moz-box-shadow: 2px 2px 3px #cccc33 inset;
    -webkit-box-shadow: 2px 2px 3px #cccc33 inset;
    box-shadow: 2px 2px 3px #cccccc inset;
}